version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:16.8.0
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo "checkout to master branch"
  deploy-to-s3-bucket:
    docker:
      - image: cimg/node:16.8.0
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo ${CURRENT_BRANCH}
      - run:
          name: Instlling AWS CLI
          working_directory: /
          command: |
            sudo apt-get -y -qq update
            sudo apt-get install -y awscli
            sudo apt-get install -y python-pip python-dev build-essential
      - run:
          name: Build Project
          command: |
            npm install
            npm run build
            cd build
            zip ../build.zip -r * .[^.]*
            echo "Build successfull"
      - run:
          name: Deploy to AWS S3
          command: |
            if ["${CURRENT_BRANCH}" == master]
            then
              aws --region ${AWS_REGION} s3 sync ~/repo/build s3://${AWS_S3_BUCKET} --delete
            fi

workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy-to-s3-bucket
        requires:
          - build