version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:16.8.0
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo "checkout to master branch"
      - restore_cache:
          keys:
            - app-{{ checksum "package.json" }}
            - app-
      - run:
          name: Install Dependencies
          command: npm install
      - save_cache:
          paths:
            - node_modules
          key: app-{{ checksum "package.json" }}
  deploy-to-s3-bucket:
    docker:
      - image: cimg/node:16.8.0
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo "master branch"

workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy-to-s3-bucket:
        #   requires:
        #     - build
